$gray:#eeeeee;
$light-gray:#fcfcfc;
$dark-gray:#878787;
$darker-gray: #575757;
$orange:#eb6e4b;
$orange-light: rgba(235, 147, 51, 0.36);
$black: black;
$yellow: rgba(235, 203, 69, 0.36);
$pink: rgba(235, 121, 95, 0.36);
$red: #9e1e21;
$gradient-orange:linear-gradient(0deg, rgba(235, 147, 51, 0.02) 24%, rgba(235, 147, 51, 0.05) 74%,
        rgba(235, 147, 51, 0.22) 100%);
$orange-lighter: rgba(235, 147, 51, 0.21);
