//fonts
$sans-serif: "Poppins", Arial, sans-serif;
$serif: "Poppins", Arial, sans-serif;
$mono: "Poppins", Arial, mono;

//font weights
$light: 100;
$normal: 300;
$semibold: 400;
$bold: 500;

//size
$small:0.8rem;
$normal:1rem;
$larger:1.25rem;
$heading:2rem;
$extralarge:4rem;
