@import '../../styles/colors';
@import '../../styles/fonts';

.weather-card {
  padding: 2rem;
  .weather-card-body{
    width: 400px;
    margin: 0 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: $gradient-orange;
    border-radius: 30px;
  }
  .weather-card-values-container {
      .weather-card-value-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .weather-card-value {
          font-weight: bold;
          display: inline;
          color: $black;
          margin: 0 0.5rem;
        }

        .weather-card-unit {
          align-self: start;
          display: inline;
          color: $black;
        }
      }
  }

  .weather-card-description {
    font-size: $larger;
    color: $darker-gray;
  }

  .weather-card-details {
    span {
      margin: 0 0.5em;
    }
  }
}









