<div class="text-center weather-card">
    <div class="weather-card-body">
        <img [src]="icon" alt="weather-icon" data-test-id="weather-card-icon"/>
        <div class="weather-card-values-container">
            <div data-test-id="weather-card-temp" class="weather-card-value-container">
                <h2 class="weather-card-value">{{temperature.val | number: '1.0-0'}}</h2>
                <p class="weather-card-unit">{{temperature.unit}}</p></div>
            <div data-test-id="weather-card-wind" class="weather-card-value-container">
                <h2 class="weather-card-value">{{wind.speed | number: '1.0-0'}}</h2>
                <p class="weather-card-unit">{{wind.unit}}</p></div>
        </div>
            <h5 data-test-id="weather-card-description" class="weather-card-description">{{description}}</h5>
        <div data-test-id="weather-card-details" class="weather-card-details">
            <span data-test-id="weather-card-city">{{city}}</span>
            <span>{{getDate(date)}}</span>
        </div>
    </div>
</div>
