<div class="hour-selector">
    <div class="arrow btn">
        <span class="flaticon-left-arrow" data-test-id="selector-left-arrow"
              [ngClass]="calculateClass('leftBtnActive')"
              (click)="navigateLeft()"></span>
    </div>
    <div data-test-id="selector-item-id"
         [ngClass]="listItemClass(i, hour)"
         class="selector-item"
         (click)="onSelect(hour, i)"
         *ngFor="let hour of interval; let i = index">
        <div data-test-id="selector-item-day" class="day">{{getWeekDay(hour)}}</div>
        <div data-test-id="selector-item-hour" class="hour">{{getHour(hour)}}</div>
    </div>
    <div class="arrow btn">
        <span class="flaticon-right-arrow" data-test-id="selector-right-arrow"
              [ngClass]="calculateClass('rightBtnActive')"
              (click)="navigateRight()"></span>
    </div>
</div>
