@import '../../styles/colors';
@import '../../styles/fonts';

.hour-selector {
  display: flex;
  align-items: center;
  justify-content: center;

  .arrow {
    display: inline;
    position: relative;
    margin: auto 0;
    color: $gray;

    .enabled {
      color: $orange-light;
      border: none;
    }

    .enabled:hover {
      color: $orange;
      border: none;
    }
  }

  .selector-item {
    padding: 10px;
    border-radius: 1px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    height: 90px;
    width: 73px;
    margin: 0;
    text-align: center;
    line-height: 1;
    font-size: $small;
    font-family: arial, sans-serif;
    color: $black;

    .day {
      line-height: 20px;
      padding-top: 7px;
      color: $dark-gray;
    }

    .hour {
      line-height: 15px;
      padding-top: 7px;
      color: black;
      font-size: $larger;
    }
  }

  .selector-item.even {
    background-color: $gray;
  }

  .selector-item.odd {
    background-color: $light-gray;
  }

  .selector-item.current {
    background-color: $light-gray;
    border: 1px solid $orange;
  }

  .selector-item.selected {
    background-color: $orange-light;
  }
}


