<table class="table">
    <tbody>
    <tr data-test-id="cities-item" routerLinkActive="active" class="cities-item"
        [routerLink]="['/cities',i, item]"
        (click)="onClick(i, item)"
        *ngFor="let item of cities; index as i">
        <th scope="row">{{ item.name }}</th>
        <td><img [src]="item.iconSrc" class="image" alt="weather-image"></td>
        <td>{{ item.temp.val }}{{ item.temp.unit }}</td>
        <td>{{ item.wind.speed }}{{ item.wind.unit }}</td>
        <td>{{ item.description }}</td>
    </tr>
    </tbody>
</table>
