<div *ngIf="(weatherState | async).cities.length < 1 && !isLoading">No data available</div>
<div *ngIf="(weatherState | async).cities.length > 0 && !isLoading">
    <router-outlet></router-outlet>
    <cities [cities]="(weatherState | async).cities"
              (itemClick)="onLoadWeatherDetails($event)">
    </cities>
</div>

