@import '../../styles/colors';

.progress-bar {
  background-color: $orange-light;

  .progress-bar-inner {
    color: #fff !important;
    background-color: $orange;
    height: 2px;
    width: 0;
  }
}
