<div class="city-detail">
    <div>
        <weather-card
                [city]="cityName"
                [date]="current.date"
                [description]="current.description"
                [icon]="current.iconSrc"
                [wind]="current.wind"
                [temperature]="current.temp"></weather-card>
        <hours-selector [hours]="hourly"
                        [currentHour]="current.date"
                        (itemSelect)="onSelect($event)"></hours-selector>
    </div>
    <app-progress-bar [showProgress]="isLoading && !error"></app-progress-bar>
</div>


