@import '../../styles/colors';
@import "../../styles/fonts";

.page-not-found-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
  height: 900px;

  h1{
    color: $black;
    font-weight: $bold;
    font-size: $extralarge;
    text-align: center;
    padding: 2rem;
  }
  img{
    width: 20rem;
    align-self: center;
  }
}
