/* You can add global styles to this file, and also import other style files */
@import "app/styles/flaticon.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat Alternates", Arial, sans-serif;
  box-sizing: border-box;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}
h1, h2{
  font-weight: 500;
}
p{
  font-weight: 300;
}
*::before, *::after  {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
li {list-style-type: none;}

*::before, *::after{
  box-sizing:border-box;
}
div {
  display: block;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
