@import '../../styles/colors';
:host {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5em;
    z-index: 1200;
}
.danger{
  background-color:$pink;
  color: $red;
}
.warning{
  background-color:$yellow;;
}
